<div class="top-wrapper">
  <div class="container top-container">
    <div class="row">
      <div class="signin-area col-md-offset-4 col-md-4">
        <div class="signin-title text-center">Sign Up!</div>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <%= render 'shered/error_messages' %>
          <% end %>
          <div class="form-group">
            名前
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            メールアドレス
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <h5>パスワード※半角英数字8文字以上</h5>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <h5>パスワード（再確認）</h5>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="form-group">
            アカウント画像
            <%= f.file_field :image %>
          </div>
          <%= f.submit "登録", class: 'btn btn-block btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>