<div class="user-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        
        <!--ユーザー基本情報-->
        <div class="user-show text-center">
          <div class="user-img"><%= image_tag @user.image.url %></div>
          <h2 class="user-name"><%= @user.name %></h2>
          <p class="user-email"><%= @user.email %></p>
          <% if @user.id == current_user.id %>
            <%= link_to "編集", edit_user_path(id: @user.id) %>
          <% end %>
          <% if current_user != @user %>
            <div class="user_follow">
              <% if current_user.followings.include?(@user) %>
                <%= form_for current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete } do |f| %>
                  <%= f.hidden_field :follow_id, :value => @user.id %>
                  <%= f.submit '解除', class: 'btn btn-block btn-danger' %>
                <% end %>
              <% else %>
                <%= form_for current_user.relationships.new do |f| %>
                  <%= f.hidden_field :follow_id, :value => @user.id %>
                  <%= f.submit 'フォロー', class: 'btn btn-block btn-primary' %>
                <% end %>
              <% end %>
            </div>
          <% end %>    
        </div>
        
      　<!--タブメニュー-->
        <ul class="user-tabs text-center">
          <li><%= link_to "投稿", user_path, class: 'text-black' %></li>
          <li><%= link_to "いいね!", user_likes_path(id: @user.id) %></li>
          <li><%= link_to "#{@user.followings.count} フォロー", user_follow_path %></li>
          <li><%= link_to "#{@user.followers.count} フォロワー", user_follower_path %></li>
        </ul>
        <% if @user.posts.present? %>
          <%= render "posts" %>
        <% else %>
          <h4 class="link text-center"><%= link_to "投稿してみよう！", new_post_path %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>