<div class="post-index-wrapper">
  <div class="container">
    <div class="seach-area text-center">
      <h5>気になるまちの投稿を探してみよう！</h5>
      <%= search_form_for @q do |f| %>
      　<span>
          <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: '都道府県を選択' } %>
        </span>
        <span class="form-group">
          <%= f.submit "検索" %>
        </span>
      <% end %>
    </div>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          
          <div class="post-index-single">
            <div class="post-user-parent">
              <div class="post-user-left post-author-img">
                <%= image_tag post.user.image.url %>
              </div>
              <div class="post-user-right">
                <div class="post-author">
                  <span class="post-author-name"><%= post.user.name %></span>
                  <span class="text-gray">さんの投稿</span>
                </div>
                <div class="post-area">
                  <% if post.prefecture.present? %>
                    <span><%= post.prefecture.name %></span>
                    <span><%= post.city.name %></span>
                  <% end %>
                </div>
                <div class="post-time text-gray">
                  <span><%= post.created_at.to_s(:datetime) %></span>
                </div>
              </div>
            </div>
            <div class="post-content"><%= post.content %></div>
            <% if post.image.url && post.image.url != "rogo.png" %>
              <%= image_tag post.image.url, class: "post-img" %>
            <% end %>
            <div class="post-menu">
              <ul class="list-unstyled list-inline">
                <li>
                  <div id="likes_buttons_<%= post.id %>">
                    <%= render partial: 'likes/like', locals: {post: post} %>
                  </div>
                </li>
                <li>
                  <%= link_to new_post_comment_path(post_id: post.id), method: :get do %>
                    <span class="fas fa-comment-alt fa-lg menu-btn"></span>
                  <% end %>
                </li>
                <% if post.user_id == current_user.id %>
                  <li>
                    <%= link_to post_destroy_path(id: post.id), method: :delete do %>
                      <span class="fas fa-trash-alt fa-lg menu-btn"></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_post_path(id: post.id), method: :get do %>
                      <span class="fas fa-pen fa-lg menu-btn"></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>  
            
          <% if post.comments.present? %>
          <div class="comment-area">
            <% post.comments.each do |comment| %>
              <div class="comment-single">
                <div class="comment-user">
                  <div class="comment-user-left"><%= image_tag comment.user.image.url %></div>
                  <div class="comment-user-right"><%= comment.user.name %></div>
                </div>
                <div class="comment-text-top"></div>
                <div class="comment-text">
                  <%= comment.content %>
                  <% if comment.user == current_user %>
                  <div class="comment-delete">
                    <%= link_to comment_path(id: comment.id), method: :delete do %>
                      <span class="fas fa-trash-alt fa-sm menu-btn"></span>
                    <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
          
        </div>
      </div>
    <% end %>
    <div class='text-center'><%= paginate @posts %></div>
  </div>
</div>


<script>
  $(function() {
    $('.fa-trash-alt').click(function() {
      if(!confirm('本当に削除しますか？')){
        return false;
      }else{
        location.href = 'index.html';
      }
    });
  });
</script>