<div class="post-index-wrapper">
  <div class="container">
    <h1 class="text-center">自慢一覧</h1>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= link_to post_path(id: post.id) do %>
            <div class="post-index-single">
              <h2 class="post-author"><%= post.user.name %></h2>
              <div class="post-content"><%= post.content %></div>
              <% if post.image.url %>
                <%= image_tag post.image.url %>
              <% end %>
              <div class="post-menu">
                <ul class="list-unstyled list-inline">
                  <% if !post.like_users.include?(current_user) %>
                    <li><%= link_to "いいね", likes_path(post_id: post.id), method: :post %></li>
                  <% else %>
                    <li><%= link_to "いいね済み", likes_destroy_path(post_id: post.id), method: :delete %></li>
                  <% end %>
                  <li><%= link_to "コメント", new_post_comment_path(post_id: post.id), method: :get %></li>
                  <% if post.user_id == current_user.id %>
                    <li><%= link_to "削除", post_destroy_path(id: post.id), method: :delete %></li>
                    <li><%= link_to "編集", edit_post_path(id: post.id), method: :get %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>