<div class="post-index-wrapper">
  <div class="container">
    <h1 class="text-center">自慢一覧</h1>
    <% @posts.each do |post| %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="post-index-single">
              <h2 class="post-author"><%= post.user.name %></h2>
              <div class="post-content"><%= post.content %></div>
              <% if post.image.url %>
                <%= image_tag post.image.url %>
              <% end %>
              <ul class="list-unstyled list-inline">
                <li><%= link_to "いいね", "#" %></li>
                <li><%= link_to "コメント", new_post_comment_path(post_id: post.id), method: :get %></li>
                <% if post.user_id == current_user.id %>
                  <li><%= link_to "削除", post_destroy_path(id: post.id), method: :delete %></li>
                <% end %>
              </ul>
              
              <% post.comments.each do |comment| %>
                <p class="post-text"><%= comment.content %></p>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>