<div class="post-index-wrapper">
  <div class="container">
    <h1 class="text-center">自慢一覧</h1>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= link_to post_path(id: post.id) do %>
            <div class="post-index-single">
              <h2 class="post-author"><%= post.user.name %></h2>
              <div class="post-content"><%= post.content %></div>
              <% if post.image.url %>
                <%= image_tag post.image.url %>
              <% end %>
              <div class="post-menu">
                <ul class="list-unstyled list-inline">
                  <% if !post.like_users.include?(current_user) %>
                    <li>
                      <%= link_to likes_path(post_id: post.id), method: :post do %>
                        <span class="fa fa-heart fa-lg menu-btn"></span>
                      <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to likes_destroy_path(post_id: post.id), method: :delete do %>
                        <span class="fa fa-heart fa-lg unlike-btn"></span>
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to new_post_comment_path(post_id: post.id), method: :get do %>
                      <span class="fas fa-comment-alt fa-lg menu-btn"></span>
                    <% end %>
                  </li>
                  <% if post.user_id == current_user.id %>
                    <li>
                      <%= link_to post_destroy_path(id: post.id), method: :delete do %>
                        <span class="fas fa-trash-alt fa-lg menu-btn"></span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to edit_post_path(id: post.id), method: :get do %>
                        <span class="fas fa-pen fa-lg menu-btn"></span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
