<div class="post-new-wrapper">
  <div class="container post-new-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for @post do |f| %>
          <div>
            <h5>どのまちについて投稿しますか？</h5>
            <div class="form-group">
              <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: '都道府県を選択' } %>
            </div>
            <div class="form-group cities-area">
              <%= render partial: 'cities', locals: { prefecture_id: Prefecture.first.id} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.text_area :content, placeholder: "あなたが暮らすまち、訪れたまちの好きなところを発信してみよう！", class: 'form-control'%>
          </div>
          <div class="form-group">
            <h5>写真を追加</h5>
            <%= f.file_field :image %>
          </div>
          <%= f.submit '投稿', class: 'btn btn-block btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>




