<div>
  <div class="container">
    <div class="row">
    　<h1 class="text-center">自慢する</h1>
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content %>
        </div>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image%>
        </div>
        <%= f.submit '投稿' %>
      <% end %>
    </div>
  </div>
</div>