<nav class="navbar navbar-default navbar-transparent">
  <div class="container">
    <% if logged_in? %>
      <%= link_to "まちログ", posts_path, class: "navbar-brand"%>
    <% else %>
      <%= link_to "まちログ", '/', class: "navbar-brand" %>
    <% end %>
    <ul  class="nav navbar-nav navbar-right">
      <% if logged_in? %>
     　　<li><%= link_to "投稿する", new_post_path  %></li>
     　　<li><%= link_to "投稿一覧", posts_path  %></li>
        <li><%= link_to 'ユーザー一覧', users_path %></li>
        <!--<li><%= link_to "友達一覧", '#' %></li>-->
        <li><%= link_to current_user.name, user_path(:id, current_user.id) %></li>
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "まちログとは", about_path %></li>
        <li><%= link_to "新規登録", signup_path %></li>
        <li><%= link_to "ログイン", login_path %></li>
      <% end %>
  　</ul>
  </div>
</nav>